<div class="palette__content">
    <span style="background-color:{{ palette.background }};"></span>
    <p class="lbh-u-p--lede">{{ palette.name }}</p>
    <p>{{ palette.colour.hex }}</p>
    <p>{{ palette.colour.rgba }}</p>
    <p>{{ palette.colour.hsla }}</p>
    <p>Contrast ratio to {{palette.contrast.against}}: {{palette.contrast.ratio}}</p>
</div>