.lbh-button {
    background-color: var(--background-button);
    color: var(--colour-button);
    border: 2px solid transparent;
    text-decoration: none;
    cursor: pointer;
    padding: 9px 10px 6px;
    line-height: 1;
    box-shadow: 0 2px 0 var(--shadow-button);
    display: inline-block;
    margin-bottom: 32px;
    position: relative;
}

.lbh-button:before {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -4px;
    left: -2px;
    background: transparent;
}

.lbh-button--disabled {
    background-color: var(--background-button-disabled);
    box-shadow: 0 2px 0 var(--shadow-button-disabled);
    cursor: default;
}

.lbh-button--arrow {
    font-weight: 700;
    padding-right: 42px;
}

.lbh-button--arrow:after {
    content: url(../img/arrow.svg);
    width: 17px;
    height: 20px;
    position: absolute;
    display: block;
    right: 14px;
    top: calc(50% - 20px/2);
}

.lbh-button:not(.lbh-button--disabled):hover {
    background-color: var(--hover-button);
}

.lbh-button:not(.lbh-button--disabled):focus {
    outline: 3px solid var(--focus-button);
    outline-offset: 0;
}

.lbh-button:not(.lbh-button--disabled):active {
    top: 2px;
    box-shadow: none;
}

.lbh-button:not(.lbh-button--disabled):active:before {
    top: -4px;
}