{%- if button.element == 'button' %}
<button class="lbh-button{{ button.styledisabled }}" type="{{ button.type }}" {%- if button.disabled == true %}disabled="disabled" aria-disabled="true"{%- endif %}>
  {{ button.text }}
</button>

{%- elseif button.element == 'a' %}
<a href="{{ button.link }}" role="{{ button.role }}" class="lbh-button{{ button.styledisabled }}{{ button.stylearrow }}">
  {{ button.text }}
</a>

{%- elseif button.element == 'input' %}
<input value="{{ button.value }}" class="lbh-button{{ button.styledisabled }}" type="{{ button.type }}" {%- if button.disabled == true %}disabled="disabled" aria-disabled="true"{%- endif %}>
{%- endif %}