.lbh-label { 
  font-family: var(--font-family-main);
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: var(--font-size-heading-small);
  color: var(--colour-main);
  display: block;
  margin-bottom: 5px;
}

.lbh-input {
  font-family: var(--font-family-main);
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: var(--font-size-heading-small);
  line-height: 1.25;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: 0;
  padding: 5px;
  border: 2px solid var(--colour-main);
  border-radius: 0;
  -webkit-appearance: none;
  display: block;
}

.lbh-input:focus {
  outline: 3px solid var(--focus-button);
  outline-offset: 0;
}