<div class="lbh-form-group">
  <fieldset class="lbh-fieldset" aria-describedby="waste-hint">
    <legend class="lbh-fieldset__legend lbh-fieldset__legend--xl">
      <h1 class="lbh-fieldset__heading">
        Which types of waste do you transport?
      </h1>
    </legend>
    <span id="waste-hint" class="lbh-hint">
      Select all that apply.
    </span>
    <div class="lbh-checkboxes">
      <div class="lbh-checkboxes__item">
        <input class="lbh-checkboxes__input" id="waste-1" name="waste" type="lbh-checkboxes" value="carcasses">
        <label class="lbh-label lbh-checkboxes__label" for="waste-1">
          Waste from animal carcasses
        </label>
      </div>
      <div class="lbh-checkboxes__item">
        <input class="lbh-checkboxes__input" id="waste-2" name="waste" type="lbh-checkboxes" value="mines">
        <label class="lbh-label lbh-checkboxes__label" for="waste-2">
          Waste from mines or quarries
        </label>
      </div>
      <div class="lbh-checkboxes__item">
        <input class="lbh-checkboxes__input" id="waste-3" name="waste" type="lbh-checkboxes" value="farm">
        <label class="lbh-label lbh-checkboxes__label" for="waste-3">
          Farm or agricultural waste
        </label>
      </div>
    </div>
  </fieldset>
</div>