/*------------------------------------*\
    #PREVIEW
\*------------------------------------*/

.lbh-preview .component {
    margin: 1rem;
}

.lbh-preview--button .lbh-button {
    display: block;
    clear: both;
}