/*------------------------------------*\
    #THEME
\*------------------------------------*/

.lbh-theme,
.lbh-theme .Tree-item,
.lbh-theme .Tree-title,
.lbh-theme .Tree-collectionLabel,
.lbh-theme .Pen-title,
.lbh-theme .Status-label,
.lbh-theme .Browser-tab a,
.lbh-theme .Document-title,
.lbh-theme .Prose,
.lbh-theme .Prose h2,
.lbh-theme .FileBrowser-select-label,
.lbh-theme .FileBrowser-selectWrapper .select2-container,
.lbh-theme .Meta-key,
.lbh-theme .Meta-value {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif ;
}

.lbh-theme .Header {
    background: #00664F;
}

.lbh-theme__logo {
    margin-right : .5rem;
}

.lbh-theme .Header-navToggle svg {
    fill: #fff;
}

.lbh-theme .Header-navToggle svg,
.lbh-theme .Header-title {
    color: #fff;
}

.lbh-theme .Frame-panel--sidebar {
    background-color: #fff;
}

.lbh-theme .Tree-title,
.lbh-theme .Tree-collectionLabel {
    color: inherit;
}

.lbh-theme .Tree-entityLink {
    text-decoration: underline;
}

.lbh-theme .Tree-entityLink:hover,
.is-current .Tree-entityLink {
    background-color: inherit;
    color: inherit;
    font-weight: 700;
}