/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

:root {
    --font-family-main: Arial, Helvetica Neue, Helvetica, sans-serif;
    --color-main: hsla(180, 4%, 5%, 1);
    --background-main: hsla(0, 0%, 100%, 1);
    --size-main: 1rem;
    --spacing-main: 1rem;
  }
  
  @custom-media --mobile-viewport (min-width: 30rem);
  @custom-media --tablet-viewport (min-width: 60rem);