/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

:root {
    --font-family-main: Arial, Helvetica Neue, Helvetica, sans-serif;

    --font-size-heading-xlarge: 3rem; /* 48px */
    --font-size-heading-large: 2.25rem; /* 36px */
    --font-size-heading-medium: 1.25rem; /* 20px */
    --font-size-heading-small: 1rem; /* 16px */

    --font-size-paragraph-default: 1.1875rem; /* 19px */
    --font-size-paragraph-lede: 1.5rem; /* 24px */
    --font-size-paragraph-small: 1rem; /* 16px */

    --background-main: hsla(180, 4%, 5%, 1);
    --colour-main: hsla(0, 0%, 100%, 1);

    --background-button: hsla(166, 100%, 20%, 1);
    --colour-button: hsla(0, 100%, 100%, 1);
    --shadow-button: hsla(166, 100%, 12%, 1);

    --size-main: 1rem;

    --spacing-main: 1rem;

    --width-main: 40rem; /* 640px */
  }
  
  @custom-media --mobile-viewport (min-width: 30rem);
  @custom-media --tablet-viewport (min-width: 60rem);