.lbh-form-group {
    margin-bottom: 30px;
    display: block;
}

.lbh-fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
}

.lbh-fieldset:after {
    content: "";
    display: block;
    clear: both;
}

.lbh-fieldset__legend {
    color: var(--colour-main);
    box-sizing: border-box;
    display: table;
    max-width: 100%;
    padding: 0;
    overflow: hidden;
    white-space: normal;
}

.lbh-fieldset__legend--xl {
    font-size: 3rem;
    line-height: 1.04167;
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    margin-bottom: 15px;
}

.lbh-fieldset__heading {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;   
    display: block;
}

.lbh-hint {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    display: block;
    margin-bottom: 15px;
    color: var(--secondary-text-colour)
}

/*
.lbh-radios.lbh-radios--inline {
Class within a class?
} */

.lbh-radios--inline:after {
    content: "";
    display: block;
    clear: both;
}

.lbh-radios__item {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    display: block;
    position: relative;
    min-height: 40px;
    margin-bottom: 10px;
    padding: 0 0 0 40px;
}

.lbh-radios__input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0;
    opacity: 0;
}

/*
@media (min-width: 40.0625em) {
    .lbh-form-group {
        margin-bottom: 30px;
        display: block;
    }
} 
Not sure if this is needed? */