<div class="lbh-form-group">
  <fieldset class="lbh-fieldset" aria-describedby="changed-name-hint">
    <legend class="lbh-fieldset__legend">
      <h1 class="lbh-u-h1 lbh-fieldset__header">
        Have you changed your name?
      </h1>
    </legend>
    <span class="lbh-hint">
      This includes changing your last name or spelling your name differently.
    </span>
    <div class="lbh-radios__item">
      <input class="lbh-radios__input" id="changed-name-1" name="changed-name" type="radio" value="yes">
      <label class="lbh-label lbh-radios__label" for="changed-name-1">
        Yes
      </label>
    </div>
    <div class="lbh-radios__item">
      <input class="lbh-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
      <label class="lbh-label lbh-radios__label" for="changed-name-2">
        No
      </label>
    </div>
  </fieldset>
</div>
