<div class="lbh-form-group">
  <label class="lbh-label" for="more-detail">
    Can you provide more detail?
  </label>
  <span id="more-detail-hint" class="lbh-hint">
    Do not include personal or financial information, like your National Insurance number or credit card details.
  </span>
  <textarea class="lbh-textarea" id="more-detail" name="more-detail" rows="8" aria-describedby="more-detail-hint"></textarea>
</div>